<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:camel="http://camel.apache.org/schema/spring" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
	       http://www.springframework.org/schema/jdbc
	        http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd">

    <!-- === Route(s) ==== -->
    <camel:camelContext id="camelContext">
        <camel:routeBuilder ref="matchRoute"/>
    </camel:camelContext>

    <bean id="matchRoute" class="nl.han.dare2date.matchservice.SocialMediaMatchRoute"/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/dare2date" />
        <property name="username" value="root" />
        <property name="password" value="Password" />
    </bean>

    <!-- SQL bean -->
    <jdbc:initialize-database data-source="dataSource" enabled="true">
        <jdbc:script location="classpath:schema.sql"/>
    </jdbc:initialize-database>

    <!-- === Endpoint mapping(s) ==== -->
    <bean id="matchEndpointMapping" class="org.apache.camel.component.spring.ws.bean.CamelEndpointMapping">
        <property name="interceptors">
            <list>
                <ref bean="matchValidatingInterceptor"/>
                <ref bean="loggingInterceptor"/>
            </list>
        </property>
    </bean>

    <!-- === Interceptors ==== -->
    <bean id="loggingInterceptor" class="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor"/>

    <bean id="matchValidatingInterceptor"
          class="org.springframework.ws.soap.server.endpoint.interceptor.PayloadValidatingInterceptor">
        <property name="schema" value="/WEB-INF/matchservice/match.xsd"/>
        <property name="validateRequest" value="true"/>
        <property name="validateResponse" value="true"/>
    </bean>

    <!-- === WSDL exposure ==== -->
    <bean id="match" class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition">
        <property name="schema">
            <bean id="match_xsd" class="org.springframework.xml.xsd.SimpleXsdSchema">
                <property name="xsd" value="/WEB-INF/matchservice/match.xsd"/>
            </bean>
        </property>
        <property name="portTypeName" value="match"/>
        <property name="locationUri" value="http://localhost:8080/match"/>
    </bean>
    <bean id="facebook" class="org.apache.camel.component.facebook.config.FacebookConfiguration">
        <property name="OAuthAccessToken" value="CAAM7hapoD4gBACfGa5dlKR9kJAZA9wQa8S0extsHHonIKqQNriNBeAGb5bbDGugKInMifZCZCZBdZA03l6NcJm22EMXikT7X8vdCI41n3sfZBPptixZCkWlV0ShAvJjiwUgBuvHkCr8eMSHPvibKkthKOBQurfuO7kRhHls5AZC0QPcf1ZBf0oBjw286Ak7CBkZC5XTi2ZC28KNRTL3GlMZBGwPpGBzel9wEhdsZD"></property>
        <property name="OAuthAppId" value="909870205767560"></property>
        <property name="OAuthAppSecret" value="88e8ee990ee1e5a85d4a0b0591a1a140"></property>
    </bean>
    <bean id="twitter" class="org.apache.camel.component.twitter.TwitterComponent">
        <property name="accessToken" value="234690092-9BwU6ZeDcMzN4UGV9BC9WoOy6uUOGexMiGWYV1eE"></property>
        <property name="accessTokenSecret" value="s893vukc7vfDGcmNNkjPvmKOLTeXDZv5sjCzuqgxytqUy"></property>
        <property name="consumerKey" value="otHm6UTgJ88keqeS95sTqiCqE"></property>
        <property name="consumerSecret" value="7vM6EDM5VqNYvs0pFhym09KxqdtqZ0nvl3WkWuOQ18MHvmrR9T"></property>
    </bean>
</beans>
